.app-container {
    width: 100%;
    max-width: none;
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    gap: 0;
}

#input-column {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#tabs {
    padding: 2rem;
}
